@import '../Base/_variables.scss';

.cards {


    &_wrap {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 30px;
    }

    .card {
        align-items: flex-start;
        background-color: $white;
        border-radius: 10px;
        display: flex;
        justify-content: flex-start;
        margin: 15px;
        padding: 15px;

        h1,
        h3,
        p {
            margin: 0;
            padding: 0;
        }

        img {
            width: 100px;
        }

        &_wrap {
            max-width: 700px;
        }

        &_images {
            display: flex;
            flex-wrap: wrap;
            padding: 15px;

            li {
                padding: 5px;
            }
        }
    }
}