// --- VARIABLES ---

// color-basics
$white: #FFFFFF;
$tmrs-blue: #114E99;
$blue-semi-light: #0076FF;
$blue-light: #CBE1F9;
$blue-lighter: #E8EDF2;
$blue-lightest: #EEF5FF;
$blue-dark: #0F4F99;
$tmrs-red: #D71F27;
$gray: #B3B3B3;
$gray-light: #BFBFBF;
$gray-lighter: #DCE1EB;
$gray-lightest: #F8F9FA;
$gray-dark: #586778;
$gray-darker: #484848;
$black: #000000;

// color gradients and shadows
$gradient-blue-dark: linear-gradient(173deg, $blue-semi-light 3.17%, $blue-dark 78.22%);

// time
$time-slow: 0.5s;
$time-normal: 0.35s;
$time-fast: 0.15s;

// font-weight 
$weight-light: 200;
$weight-semi-light: 300;
$weight-normal: 500;
$weight-semi-bold: 600;
$weight-bold: 700;
$weight-black: 800;

// font-size
$default-font-size: 16px;
$font-xs: 0.5rem;
$font-s: 0.85rem;
$font-m: 1rem;
$font-l: 1.25rem;
$font-xl: 1.5rem;

// media

$media-xxs: 360px;
$media-xs: 640px;
$media-s: 768px;
$media-m: 1024px;
$media-l: 1280px;
$media-xl: 1440px;

// add on variables
.is {
    &-hidden {
        display: none;
    }

    &-disabled {
        @mixin media-suffixes {
            opacity: 0.5;
        }
    }
}

// boiler plate
html,
body {
    background-color: $blue-lighter;
    color: $gray-dark;
    font-family: 'DM Sans', sans-serif;
    font-size: $default-font-size;
    font-weight: $weight-semi-bold;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media screen and (min-width: $media-m) {
        font-size: $default-font-size;
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a,
a:active,
a:hover,
a:visited {
    color: inherit;
    text-decoration: none;
}

ul,
li {
    list-style: none;
    margin-inline-start: 0;
    padding-inline-start: 0;
}

// homepage
.homepage {
    height: 100vh;
    width: 100vw;

    &_main {
        display: flex;
    }
}

// navbar top
.navbar {
    background-color: $gray-lightest;
    color: $tmrs-blue;
    display: flex;
    height: 55px;

    &_list {
        align-items: center;
        display: flex;
        flex-direction: row;
        // justify-content: space-between;
        padding: 0 63px;

        width: 100%;

        &-logo {
            img {
                align-items: flex-start;
                width: 90px;
            }
        }

        &-cards {
            display: flex;
            justify-content: space-between;

            li {
                padding-left: 55px;
            }
        }
    }
}


// sidebar
.sidebar {
    &_wrapper {
        background: $gradient-blue-dark;
        color: $blue-light;
        font-weight: $weight-light;
        height: 100vh;
        min-width: 200px;
        padding: 10px 0 0 63px;
        width: 227px;

    }

    p {
        margin: 15px 0 3px 0;
    }

    li:before {
        content: "\f111";
        display: inline-block;
        font-family: "Font Awesome 5 Free";
        font-size: 8px;
        font-weight: 400;
        padding: 0 13px 0 1px;
        vertical-align: middle;
    }

    i:after {
        content: "\7c";
        display: block;
        font-family: "Font Awesome 5 Free";
        font-size: 15px;
        font-weight: 700;
        line-height: 7px;
        padding: 0 0 0 3px;

    }
}

// section
.section {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    margin: 30px;
    width: 100%;

    &_card {
        align-items: flex-start;
        background-color: $white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: flex-start;
        max-width: 500px;
        min-height: 500px;
        margin: 15px;
        padding: 15px;
        width: 70%;

        h1,
        h3,
        h5 {
            margin: 0;
            padding: 0;
        }
    }
}