// add on variables
.is {
    &-hidden {
        display: none;
    }

    &-disabled {
        @mixin media-suffixes {
            opacity: 0.5;
        }
    }
}

// variables

// color-basics
$default-color: blue;

// TODO create tmrs list and add bright / dark dynamically for each
$brightest: #ffffff;
$brighter: #f3f3f3;
$bright: #dadada;
$normal: $default-color;
$dark: #9c9c9c;
$darker: #585858;
$darkest: #131313;


// time
$slow: 0.5s;
$normal: 0.35s;
$fast: 0.15s;

// font-weight 
$light: 200;
$semi-light: 300;
$normal: 500;
$semi-bold: 600;
$bold: 700;
$black: 800;

// font-size
$default-font-size: 16px;
$font-xs: 0.5rem;
$font-s: 0.85rem;
$font-m: 1rem;
$font-l: 1.25rem;
$font-xl: 1.5rem;

// media
$default-font-size: 16px;
$media-xxs: 360px;
$media-xs: 640px;
$media-s: 768px;
$media-m: 1024px;
$media-l: 1280px;
$media-xl: 1440px;

// boiler plate
html,
body {
    color: $dark;
    font-size: calc($default-font-size * 0.65);
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'OpenSans',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media screen and (min-width: $media-s) {
        font-size: calc($default-font-size * 0.8);
    }

    @media screen and (min-width: $media-m) {
        font-size: $default-font-size;
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

a,
a:active,
a:hover,
a:visited {
    text-decoration: none;
}

// homepage
// navbar top
// sidebar left
// components